body{
width: 360px;
max-width: 560px;
position: relative;
}
h4{color: red;}

body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            color: #333;
        }
        header {
            background: #f7712d;
            color: #fff;
            padding: 1em 0;
            text-align: center;
        }
        .container {
            width: 90%;
            margin: 20px auto;
        }
        .badges a {
            margin-right: 10px;
        }
        footer {
            text-align: center;
            padding: 10px 0;
            background: #333;
            color: #fff;
        }